/* zeroing */
body {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
}
/* zeroing */
.container {
	width: 1170px;
	margin: 0 auto;
}
/* header */
.header {
	background: rgb(78,190,254);
	background: -o-linear-gradient(left, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -webkit-gradient(linear, left top, right top, from(rgba(78,190,254,1)), to(rgba(55,143,217,1)));
	background: linear-gradient(90deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ebefe",endColorstr="#378fd9",GradientType=1);
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 60px;
}
.logo {
	padding-top: 60px;
}
.offer {
	width: 420px;
	font-family: Ubuntu, sans-serif;
}
.title {
	font-size: 30px;
	color: white;
	line-height: 1.3;
	padding-top: 120px;
	}	
span {
	font-size: 55px;
}
.intro {
	font-size: 16px;
	line-height: 1.6;
	color: white;
	margin-top: 30px;
}
.btn {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #2e2a1b;
  line-height: 1.6;
  font-weight: 900;
  background-color: #ffd429;
  padding: 20px 20px;
  display: block;
  width: 222px;
  text-align: center;
  margin-top: 40px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover {
	background: #ffb100;
	border-radius: 50px;
}
/* header */
/* learn */
.learn {
	padding-top: 100px;
	font-family: Ubuntu, sans-serif;
	padding-bottom: 120px;
}
.title-learn {
	font-family: Ubuntu, sans-serif;
	color: #201b2d;
	font-size: 30px;
	text-align: center;
}
.skills {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 70px;
}
.skill-title {
	font-size: 20px;
	font-weight: bold;
	padding-top: 60px;
}
.skill-text {
	font-size: 15px;
	line-height: 1.5;
}
.skill {
	width: 300px;
	background: url(../img/icon1.jpg) no-repeat top;
}
.skill-travel {
	width: 300px;
	background: url(../img/icon2.jpg) no-repeat top;
}
.skill-create {
	width: 300px;
	background: url(../img/icon3.jpg) no-repeat top;
}
/* learn */
/* mail */
.mail {
	background-color: #ecf3f8;
	padding-top: 110px;
}
.form {
	padding-bottom: 100px;
	margin: 0 auto;
	width: 340px;
}
.input {
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	width: 350px;
	height: 45px;
	padding-left: 20px;
	margin-top: 15px;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.input:first-child { 
	margin-top: 50px;
}
.form-btn {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #2e2a1b;
  line-height: 1.6;
  font-weight: 900;
  background-color: #ffd429;
  width: 350px;
  height: 55px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  margin: 40px auto 0;	
}
.form-btn:hover {
	background: #ffb100;
	border-radius: 50px;
}
/* mail */
/* footer */
.footer {
	height: 140px;
	background: #164d7a;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
}
.copyright {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}
/* footer */
